<!DOCTYPE html>
<html>
  <head>
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= (typeof title != "undefined" ? title : "") %></h1>
    <p>Welcome to <%= (typeof title != "undefined" ? title : "") %></p>
  </body>
</html>
